.notifyCheck {
    margin: 18px 0px 0px 0px !important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.bg-blue {
    background-color: lightblue;
}

.bg-pink {
    background-color: lightcoral;
}

.bg-blue-dark {
    background-color: #86c5da;
}

.bg-pink-dark {
    background-color: #eb5252;
}