.clear {
    clear: both;
}

.no-data {
    border-width: 1px 0;
    border-style: solid;
    border-color: #e1e8ee;
}

.filter-header {
    padding: 20px 20px 8px;
}

.reset-btn {
    line-height: 40px;
    margin-left: 10px;
}

.table tr:last-child td {
    border-bottom: 1px solid #e1e8ee;
}

.documents-filter-section ul.sidebar-menu {
    max-height: 190px;
    overflow: auto;
}

.documents-filter-section {
    min-width: 230px;
    max-width: 230px;
}

.flex-fill.height-full {
    width: calc(100% - 230px);
}

.documents-list .date-list {
    min-width: 130px;
}

.documents-filter-section .sidebar-menu>li {
    margin: 0;
    padding: 0;
    position: relative;
}

.content-wrapper.documents {
    padding-top: 0;
}

a.inline-block {
    display: inline-block;
    margin-left: 8px;
}

.documents-filter-section h6 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

div.well.my-drop-zone {
    border-width: 2px;
    border-style: dashed;
    border-color: #ddd;
    background: none;
    border-radius: 8px;
    padding: 40px 10px;
    text-align: center;
}

.btn-disabled {
    background-color: #000000;
    border-color: #000000;
}

div.well.my-drop-zone.nv-file-over {
    background: #f5f8fa;
}

input.chooser {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.my-drop-zone i.icon-download {
    background: no-repeat;
    height: auto;
    width: auto;
}

.edit-document {
    max-width: 30px;

    a {
        margin: 0 5px;
    }
}