@import '../../../../market-place/component/marketplace.component.scss';

.small-note {
    p {
        font-size: 14px;
        font-weight: 500;

        span {
            font-size: 12px;
            font-weight: 400;
        }
    }
}